/* Box sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Root */
html {
  font: 16px/1.75 sans-serif;
}

/* Structure */
.segment {
  padding: 4rem 0;
}

.segment-content {
  width: 80vw;
  max-width: 1000px;
  margin: auto;
}
